body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(231, 163, 225), rgb(5, 5, 5), black , black
    , rgb(235, 173, 235));
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.neonT {
    color: #fff;
    text-shadow:
        /* Pink glow */
        0 0 7px #ff00ff,
        0 0 10px #ff00ff,
        0 0 21px #ff00ff,
        /* Blue glow */
        0 0 42px #00f,
        0 0 82px #00f,
        0 0 92px #00f,
        0 0 102px #00f,
        0 0 151px #00f;
        
    border-bottom: 8px solid  #b5a408;
    border-top: 8px solid rgb(243, 201, 208);
    border-radius: 40px;
    padding-right: 150px;
    padding-left: 150px;
}

.blink-me{
    animation:blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0.7;
    }
}


.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}